<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hotel</title>
        <link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
    </head>
    <header id="mainHeader">
        <a id="logoHeader" href="#">
            <h1>Logo</h1>
        </a>

        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Gestionar</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="#">Gestionar</a></li>
            </ul>
        </nav>
    </header>
    <body>
        
        <script src="" async defer></script>
    </body>
</html>
